package view

templ Nav(title string, userId int) {
	<nav>
		<ul>
			<li>
				<a href="/">
					<strong>{ title }</strong>
				</a>
			</li>
		</ul>
		<ul>
			if userId != 0 {
				<li><a href="/auth/logout">Выйти</a></li>
			} else {
				<li><a href="/auth/register">Регистрация</a></li>
				<li><a href="/auth/login">Войти</a></li>
			}
		</ul>
	</nav>
}

templ Base(title string, userId int) {
	<!DOCTYPE html>
	<html lang="ru">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self';"/>
			<link rel="icon" type="image/x-icon" href="/static/icon/favicon.ico"/>
			<link rel="icon" href="/static/icon/favicon.svg" type="image/svg+xml"/>
			<link rel="apple-touch-icon" href="/static/icon/favicon.png"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/pico@2.min.css"/>
			<link rel="stylesheet" href="/static/css/main.css?v=1"/>
		</head>
		<body hx-boost="true" hx-target="#main" hx-indicator="#top-loading-bar" style="padding: 0px 30px">
			<div id="top-loading-bar" class="htmx-indicator"></div>
			<div id="main">
				<div class="container">
					@Nav(title, userId)
					<main>
						<section>
							{ children... }
						</section>
					</main>
				</div>
			</div>
			<script src="/static/js/htmx.org@2.0.10.min.js"></script>
			<script src="/static/js/main.js?v=2"></script>
		</body>
	</html>
}

templ Unauthorized(userId int) {
	@Base("url-shortener", userId) {
		<article>
			<header><strong>Доступ запрещён</strong></header>
			<p>Для доступа к странице <a href="/auth/login">войдите</a>.</p>
			<p>Нет аккаунта? <a href="/auth/register">Зарегистрируйтесь</a></p>
		</article>
	}
}
