GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./db/main.db
GOOSE_MIGRATION_DIR=./migrations

LITESTREAM_ACCESS_KEY_ID=10VEH4HEBD5MMBBMRN5D
LITESTREAM_SECRET_ACCESS_KEY=2IAN3X4fIqz0ecGK8bcr1mhEUQ1lZbG66SUSy2yA
LITESTREAM_ENDPOINT=https://s3.ru1.storage.beget.cloud
AWS_REGION=us-east-1

SESSION_KEY=dev_key
DB_NAME=./db/main.db
