GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./db/main.db
GOOSE_MIGRATION_DIR=./migrations

LITESTREAM_ACCESS_KEY_ID=INMM2H3SHEDD2C2Y0M2R
LITESTREAM_SECRET_ACCESS_KEY=bvamP7MUUG8UkAx1w1DIHsIzBhjHxq1tJT1f08Zq
LITESTREAM_ENDPOINT=https://s3.ru1.storage.beget.cloud

SESSION_KEY=dev_key
DB_NAME=./db/main.db
