package view

import "url_shortener/internal/core/view"

templ RegisterError(err string) {
	<div>{ err }</div>
}

templ RegisterForm() {
	<form hx-post="/auth/register">
		<input type="email" name="email" placeholder="Email" aria-label="email" required/>
		<input type="password" name="password" placeholder="Пароль" aria-label="password" required/>
		<button>Зарегистрироваться</button>
		<div id="errors" style="margin-top:5px;color: red"></div>
	</form>
}

templ Register(userId int) {
	@view.Base("URL shortener", userId) {
		<div class="grid">
			<article style="margin: auto">
				<header><strong>Регистрация</strong></header>
				@RegisterForm()
			</article>
		</div>
	}
}
