package view

import "url_shortener/internal/core/view"

templ Main() {
	@view.Base("URL Shortener", 0) {
		<article>
			<header><strong>Hello</strong></header>
			<p>You need to <a href="/auth/login">login</a> to access this page.</p>
			<p>Don't have an account? <a href="/auth/register">Register</a></p>
		</article>
	}
}
