package view

import "url_shortener/internal/core/view"

templ Main(userId int) {
	@view.Base("URL shortener", userId) {
		if userId == 0 {
			<article>
				<header><strong>Главная</strong></header>
				<p>Для доступа к странице <a href="/auth/login">войдите</a> (логин: test@test.ru, пароль: Test10293847).</p>
				<p>Нет аккаунта? <a href="/auth/register">Зарегистрируйтесь</a></p>
			</article>
		} else {
			<article>
				<header><strong>Главная</strong></header>
				<p><a href="/link/create-link">Управлять ссылками</a></p>
			</article>
		}
	}
}
